{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons author__social-grid">
      {% if author.location %}
        <li title="{{ author.location }}"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i></li>
      {% endif %}
      {% if author.employer %}
        <li title="{{ author.employer }}"><i class="fa fa-fw fa-building" aria-hidden="true"></i></li>
      {% endif %}
      {% if author.uri %}
        <li title="{{ site.data.ui-text[site.locale].website_label | default: "Website" }}"><a href="{{ author.uri }}"><i class="fa fa-fw fa-chain" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.email %}
        <li title="{{ site.data.ui-text[site.locale].email_label | default: "Email" }}"><a href="mailto:{{ author.email }}"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.keybase %}
        <li title="Keybase"><a href="https://keybase.io/{{ author.keybase }}"><i class="fa fa-fw fa-key" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.twitter %}
        <li title="Twitter"><a href="https://twitter.com/{{ author.twitter }}"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.facebook %}
        <li title="Facebook"><a href="https://www.facebook.com/{{ author.facebook }}"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.google_plus %}
        <li title="Google+"><a href="https://plus.google.com/+{{ author.google_plus }}"><i class="fa fa-fw fa-google-plus-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.linkedin %}
        <li title="LinkedIn"><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.xing %}
        <li title="XING"><a href="https://www.xing.com/profile/{{ author.xing }}"><i class="fa fa-fw fa-xing-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.instagram %}
        <li title="Instagram"><a href="https://instagram.com/{{ author.instagram }}"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.tumblr %}
        <li title="Tumblr"><a href="https://{{ author.tumblr }}.tumblr.com"><i class="fa fa-fw fa-tumblr-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.bitbucket %}
        <li title="Bitbucket"><a href="https://bitbucket.org/{{ author.bitbucket }}"><i class="fa fa-fw fa-bitbucket" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.github %}
        <li title="Github"><a href="https://github.com/{{ author.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.stackoverflow %}
        <li title="Stackoverflow"><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}"><i class="fa fa-fw fa-stack-overflow" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.lastfm %}
        <li title="Last.fm"><a href="https://lastfm.com/user/{{ author.lastfm }}"><i class="fa fa-fw fa-lastfm-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.dribbble %}
        <li title="Dribbble"><a href="https://dribbble.com/{{ author.dribbble }}"><i class="fa fa-fw fa-dribbble" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.pinterest %}
        <li title="Pinterest"><a href="https://www.pinterest.com/{{ author.pinterest }}"><i class="fa fa-fw fa-pinterest" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.foursquare %}
        <li title="Foursquare"><a href="https://foursquare.com/{{ author.foursquare }}"><i class="fa fa-fw fa-foursquare" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.steam %}
        <li title="Steam"><a href="https://steamcommunity.com/id/{{ author.steam }}"><i class="fa fa-fw fa-steam-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.youtube %}
        <li title="YouTube"><a href="https://www.youtube.com/user/{{ author.youtube }}"><i class="fa fa-fw fa-youtube-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.soundcloud %}
        <li title="Soundcloud"><a href="https://soundcloud.com/{{ author.soundcloud }}"><i class="fa fa-fw fa-soundcloud" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.weibo %}
        <li title="Weibo"><a href="https://www.weibo.com/{{ author.weibo }}"><i class="fa fa-fw fa-weibo" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.flickr %}
        <li title="Flickr"><a href="https://www.flickr.com/{{ author.flickr }}"><i class="fa fa-fw fa-flickr" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.codepen %}
        <li title="CodePen"><a href="https://codepen.io/{{ author.codepen }}"><i class="fa fa-fw fa-codepen" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.vine %}
        <li title="Vine"><a href="https://vine.co/u/{{ author.vine }}"><i class="fa fa-fw fa-vine" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li title="Google Scholar"><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar-square ai-fw"></i></a></li>
      {% endif %}
      {% if author.orcid %}
        <li title="ORCID"><a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw"></i></a></li>
      {% endif %}
      {% if author.wikipedia %}
        <li title="Wikipedia"><a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}"><i class="fa fa-fw fa-chain" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
  </div>
</div>